@charset "UTF-8";

body {
	background-color: dimgrey;
}

h1 {
	color: rgb(192, 192, 192);
	text-align: center;
}

p {
	font-family: verdana;
	font-size: 20px;
}

table {
	border-collapse: collapse;
}
.Buttoon {
	width: 33px;
}

td,
th {
	border: 1px solid black;
	padding: 3px;
	text-align: center;
}

th {
	font-weight: bold;
	background-color: #E6E6E6;
}